[Desktop Entry]
Version=1.0
Type=Application
Name=SuperBomberman5
GenericName=jrs
Comment=Retroarch Game
Exec=retroarch -f -L /usr/lib/libretro/snes9x_libretro.so /home/jhonatanrs/Documents/Roms/SuperBomberman5.zip
Icon=retroarch
Path=
Terminal=false
